.r1{
    transform-origin: 0px 0px;
    transform: translate(200px, 300px) rotate(90deg);
}
.r2{
    transform-origin: 0px 557px;
    transform: rotate(-90deg);
}
.r00{
    transform-origin: 0px 0px;
    z-index: -10;
}